<!-- BADGES SECTION -->
<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Your Badges</h1>
    </center>
  </div>
</div>
<br/>
<div class="row">
  	<div class="col-xs-12">
		<h5>You have earned 3/25 badges!</h5>
	</div>
</div>
<br/>
<div class="row">
  <div class="col-xs-6">
    <center>
      <img class="or-badge" src="images/experience_badge1.png"></img>
      <br/>
      <h5>Junior Roadie</h5>
    </center>
  </div>
  <div class="col-xs-6">
    <center>
      <img class="or-badge" src="images/fuel_badge2.png"></img>
      <br/>
      <h5>Frugal Filler</h5>
    </center>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-6">
    <center>
      <img class="or-badge" src="images/safe_badge1.png"></img>
      <br/>
      <h5>Safe Hands</h5>
    </center>
  </div>
  <div class="col-xs-6">
    <center>
      <img class="or-badge-next" src="images/experience_badge2.png"></img>
      <br/>
      <h5 class="text-muted">Next: Smooth Sailor</h5>
    </center>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-6">
    <center>
      <img class="or-badge-next" src="images/fuel_badge.png"></img>
      <br/>
      <h5 class="text-muted">Next: Go Green</h5>
    </center>
  </div>
  <div class="col-xs-6">
    <center>
      <img class="or-badge-next" src="images/safe_badge.png"></img>
      <br/>
      <h5 class="text-muted">Next: Senior Roadie</h5>
    </center>
  </div>
</div>
<br/><br/>
<div class="row">
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary">More about Badges</button>
  </div>
</div>

<br/>
<br/>