
<!-- SCORE Section -->
<div class="row">
  <div class="col-xs-12">
    <center>
      <h1>Your Score</h1>
      <p><em>“Technically speaking, you drive like a rabid chicken who has hijacked a tractor”</em></p>
    </center>
  </div>
</div>
<!--
<p class="text-muted">“You think driving is better than walking, because hitting is better than being hit?” </p>
-->
<div class="row">
  <div class="col-xs-12">
    <center>
      <div class="or-score-chart">
        <highchart id="score-chart" config="score.scoreChartConfig"></highchart>
      </div>
    </center>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <center>
      <h4 class="or-heading">Your last trip stats</h4>
    </center>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-6">
    <h5><span class="label label-danger">3</span> &nbsp;Over speeding</h5>
  </div>
  <div class="col-xs-6">
    <h5><span class="label label-primary">7</span> &nbsp;Deft turns</h5>
  </div>
  <div class="col-xs-6">
    <h5><span class="label label-warning">0</span> &nbsp;Pothole speeding</h5>
  </div>
  <div class="col-xs-6">
    <h5><span class="label label-info">3</span> &nbsp;Smooth accel.</h5>
  </div>
</div>

<br/>
<hr/>
<br/>

<!-- SCORE OVER TIME -->
<div class="row">
  <div class="col-xs-12">
    <center>
      <h4 class="or-heading">You are getting even better!</h4>
    </center>
  </div>
</div>
<br/>
<!--
<p class="text-muted">“You think driving is better than walking, because hitting is better than being hit?” </p>
-->
<div class="row">
  <div class="col-xs-12">
    <center>
      <div class="or-score-chart">
        <highchart id="score-history-chart" config="score.scoreHistoryChartConfig"></highchart>
      </div>
    </center>
  </div>
</div>

<br/>
<hr/>
<br/>

<div class="row">
  <div class="col-xs-12">
    <center>
      <h4 class="or-heading">Driving tips for you</h4>
    </center>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-xs-12">
      <h5><span class="glyphicon glyphicon-road"></span> Road safety tip</h5>
      Reduce speed while approaching cross roads.
      <br/><br/>
      <h5><span class="glyphicon glyphicon-cog"></span> Maintenance tip</h5>
      Brake while approaching a speed bump and accelerate only after all wheels cross, this prevents suspension damage and greatly reduces maintenance costs.
  </div>
</div>


<br/>
<br/>
<!--
<div class="jumbotron">
  <h1>Your Score</h1>
  <highchart id="chart1" config="score.chartConfig"></highchart>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
