<center>
<h1>Your Score</h1>
<p class="text-muted">“Technically speaking, you drive like a rabid chicken who has hijacked a tractor”</p>
<!--
<p class="text-muted">“You think driving is better than walking, because hitting is better than being hit?” </p>
-->
<br/>
<highchart id="chart1" config="score.chartConfig"></highchart>
</center>

<!--
<div class="jumbotron">
  <h1>Your Score</h1>
  <highchart id="chart1" config="score.chartConfig"></highchart>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
-->
