<br/>
<div class="row">
  <div class="col-xs-6">
	<h4>Your account</h4>
	<br/>
	<p>Name: Abishek Baskaran</p>
	<p>Email: babishek@gmail.com</p>
	<br/>
	<button class="btn btn-default" type="submit">Change account details</button>
  </div>
  <div class="col-xs-6">
  	<img class = "or-dp pull-right" src="images/profile_img.png"></img>
  </div>
</div>
<br/>

<br/>
<hr/>
<br/>

<h4>Your Emergency Contacts</h4>
<br/>
<form>
  <div class="form-group">
    <label for="contact1">Your phone number</label>
    <input type="text" class="form-control" id="contact1" ng-model="phone">
  </div>
  <div class="form-group">
    <label for="contact2">Primary emergency contact</label>
    <input type="text" class="form-control" id="contact2" ng-model="primaryContact">
  </div>
  <div class="form-group">
    <label for="contact3">Secondary emergency contact</label>
    <input type="text" class="form-control" id="contact3" ng-model="secondaryContact">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<br/>
<br/>